<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>STOCK</title>
    <link rel="stylesheet" type="text/css" href="./menu_main.css">
    <link rel="stylesheet" type="text/css" href="./home.css">
    <script src="./home.js" defer></script>
    <script src="./menu_main.js"></script>
  </head>
  <body>
    <br>
    <h1>STOCK</h1>
    <br>
    <div id="menu_main">
      <div onclick="goTo('home')" style="background:#dddddd;font-family:Avenir;font-weight:200">HOME</div>
      <div onclick="goTo('search')" style="background:#dddddd;font-family:Avenir;font-weight:200">SEARCH</div>
      <div onclick="goTo('new_artwork')" style="background:#dddddd;font-family:Avenir;font-weight:200">ADD ARTWORK</div>
      <div onclick="goTo('update')" style="background:#dddddd;font-family:Avenir;font-weight:200">UPDATE ARTWORK</div>
      <div onclick="goTo('delete')" style="background:#dddddd;font-family:Avenir;font-weight:200">DELETE ARTWORK</div>
    </div>
    <div id="collection"></div>
  </body>
</html>
